.idea
*.iml
*.class
.gradle/
.project
.settings
.classpath
build.xml
build/
classes/
dev/
gen/
jni/
local.properties
target/
app/build.xml
app/build/
app/classes/
app/gen/
app/src/main/jniLibs/
app/target/
app/local.properties
libraries/*/build.xml
libraries/*/build/
libraries/*/classes/
libraries/*/gen/
libraries/*/target/
libraries/*/local.properties